.intro__text-list {

    max-width: 690px;
    height: 90px;
    padding: 0;
    margin-left: 148px;
    margin-top: 33px;
    list-style: none;
    text-rendering: optimizeLegibility;
    }

    @media  screen and ( max-width: 1024px) {
        .intro__text-list {
            margin-left: 48px;
        }
    }

    @media screen and (max-width: 768px)
        { 
            .intro__text-list {

                margin-left: 24px;
            }
        }
        @media screen and (max-width: 320px)
    {
        .intro__text-list {
    margin-left: 16px;
    margin-top: 0;
        }
    }