.footer__copyright {
width: 186px;
height: 16px;
left: 1046px;
top: 6835px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

text-align: right;

color: #FFFFFF;

}